---
import SectionContainer from '@/components/SectionContainer.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Prismatic - AI Powered Travel Assistant"
  description="Prismatic is an AI powered travel assistant that helps you plan your trips."
>
  <main class="pt-26 max-w-7xl h-[4000px]">
    <SectionContainer class="">
      <div class="flex flex-col items-center justify-center h-full space-y-8">
        <h1 class="text-4xl font-bold text-center">Prismatic</h1>
        <p class="text-lg text-center">
          An AI powered travel assistant that helps you plan your trips.
        </p>
      </div>
    </SectionContainer>

    <SectionContainer class="">
      <div class="flex flex-col items-center justify-center h-full space-y-8">
        <h1 class="text-4xl font-bold text-center">Prismatic</h1>
        <p class="text-lg text-center">
          An AI powered travel assistant that helps you plan your trips.
        </p>
      </div>
    </SectionContainer>
  </main>
</Layout>
